.guilds {
	background: #111111;
}

.guilds-wrapper {
	border-top: 5px solid #666;
	border-left: 5px solid #666;
	border-bottom: 5px solid #666;
	border-right: 1px solid #666;
}

.guild-channels {
	background: #111111 !important;
}

.guild-channels header {
	background: #1e1e1e;
	opacity: 100;
}

#rtc-connection {
	background: #111111;
}

.account {
	background: #111111;
	border-top: 3px solid #666;
	border-bottom: 5px solid #666;
	border-right: 1px solid #666;
}

.guild-header {
	background: #111111;
	border-top:5px solid rgb(102, 102, 102) !important;
	border-bottom:3px solid rgb(102, 102, 102) !important;
	border-right:1px solid rgb(102, 102, 102) !important;
}

.channels-wrap {
	width:250px !important;
}

.channel-members-wrap {
	min-widht:250px !important;
}

.channel-members {
	background: #111111 !important;
}

.channel-members h2 {
	background: #1e1e1e;
	color:hsla(0, 0%, 100%, 1) !important;
	padding:10px 30px !important;
}

.channel-members .member+h2 {
	margin-top: 9px !important;
}